<h1> <%=@category.title %> YAY!!!</h1>

<% @articles.each do |item| %>
  <p><a href= "/categories/<%= "#{@category.title}/#{item.id}" %>"><%= item.title %></a></p>
<% end %>


<a href="/categories/<%= "#{@category.title}"%>/new">Create New Article!</a>
<p><a href="/categories">Back</a></p>
